.arasu {
    text-align: center;
    border: 1px solid lightgray;
    width: 320px;
    height: 250px;
    padding: 20px;
    margin: 250px auto;
    border-radius: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellowgreen;
    background-color: white;
}

.arasu form > div {
    margin-bottom: 15px; /* Adjust the value as needed */
}

.arasu form > div:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last element */
}

.two {
    color: azure;
}

body{
    /* background-image: url('./red.jpg'); */
}